<div class="row">
	<div class="col-md-6 center-block">
		<h2 id="title">Welcome to Ember</h2>
		<div class="input-group input-group-lg">
		  <span class="input-group-addon" id="sizing-addon1">Word: </span>
		  <input type="text" class="form-control" placeholder="Search for a Word" aria-describedby="sizing-addon1">
		</div>
		
		{{outlet}}
	</div>
</div>